/*HTML*/ 
body {
  background-image: url('../image/Background.png');
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: LOUIS-GEORGE-CAFE;
  position: relative;
}

a {
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: LOUIS-GEORGE-CAFE;
  src: url('../font/Louis\ George\ Cafe.woff') format('woff'),
       url('../font/Louis\ George\ Cafe.woff2') format('woff2');
}

.header {
  position: relative;
  text-align: center;
  padding: 20px;
  color: white;
}

/*TITLES*/
.title {
  font-size: 5rem;
  margin-bottom: -10px;
  color: white;
}

.menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
}

.welcome {
  visibility: hidden;
}

.subtitle {
  font-size: 3.5rem;
  color: white;
}

/*ANIMATIONS*/
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.quick-fadeIn {
  animation: fadeIn 1s ease-in-out 1s;
}

.title, .subtitle, .grid-item, .toggle, .white-bar, .white-box, p, .grid-container-credit, .white-box iframe {
  animation: fadeIn 2s ease-in-out 4s;
  opacity: 0;
  visibility: hidden;
}

.title, .subtitle, .grid-item, .toggle, .white-bar, .white-box, p, .grid-container-credit, .white-box iframe {
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInElements {
  0% {opacity: 0; visibility: hidden;}
  100% {opacity: 1; visibility: visible;}
}

.title, .subtitle, .grid-item, .toggle, .white-bar, .white-box, p, .grid-container-credit, .white-box iframe {
  animation-name: fadeInElements;
}


.container {
  width: 100%;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}

.menu-open{
  transform: translate(-230px, 0);
}

ul {
  list-style: none;
}

h2 {
 color: white;
 text-align: center;
}

.white-box {
  position: absolute;
  top: 230%;
  left: 50%;
  transform: translate(-50%);
  width: 65%;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.3);
  border: 10px solid rgba(255, 255, 255, 0.1);
  overflow-y: auto;
  padding: 20px;
}

.video-container {
  display: flex;
  justify-content: space-around;
}

.video-container iframe {
  width: 30%;
  height: auto;
  border: 10px solid rgba(255, 255, 255, 0.1);
}

details {
  color: white;
  font-size: 2rem;
  padding-top: 20px;
}


summary {
  color: white;
  font-size: 2rem;
  padding-top: 20px;
  padding-left: 20px;
}

p {
  color: white;
  font-size: 1rem; 
  padding-left: 20px;
}

.about-paragraph {
  padding-top: 20px;
  width: 60%;
  justify-content: center;
  left: 350px;
  position: absolute;
}

.about-paragraph p {
 text-align: center;  
}

.box-title {
  text-align: center;
  margin-top: 0;
  font-size: 5rem;
  color: white;
}

.clickable-summary{
  cursor: pointer;
  transition: color 0.3s ease;
}

.clickable-summary:hover{
  color: #05043e;
}

/*NAVBAR CSS CREATED BY Håvard Brynjulfsen*/
/*NAVBAR EDITED BY NEHAN HETTIARACHCHI TERM 3 2023*/

@keyframes fadeInNavbar {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*, *:after, *:before {
    box-sizing: border-box;
}

.navbar-container {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding-top: 30px;
    top: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    animation: fadeInNavbar 2s ease-in-out 4s forwards;
}

.navbar-container ul { 
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto; 
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .75rem;
    border-radius: 10px;
    box-shadow: 0 10px 50px 0 rgba(5, 4, 62, .25);
    margin-right: 1rem;
}

li:nth-child(6) {
    margin-top: 5rem; 
    padding-top: 1.25rem;
    border-top: 1px solid #363664;
}

li + li {
    margin-top: .75rem;
}

.navbar-container a {
    color: #FFF; 
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    position: relative;
}

.navbar-container a:hover, 
a:focus, 
a.active {
    background-color: #30305a;
    outline: 0;
}

.navbar-container a:hover span, 
a:focus span, 
a.active span { 
    transform: scale(1);
    opacity: 1;
    margin-left: 1rem;
}

.navbar-container a i {
    font-size: 1.375rem;
}

.navbar-container a span {
    position: absolute;
    background-color: #30305a;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: 6px;
    left: auto;
    right: calc(100% + 1.5rem);
    transform-origin: center left;
    transform: scale(0);
    opacity: 0;
    transition: .15s ease;
}

.navbar-container a span:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #30305a;
    left: auto;
    right: -5px;
    top: 50%;
    transform: translatey(-50%) rotate(45deg);
    border-radius: 3px;
    margin-left: 1rem;
}

.navbar-container details {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    margin-top: 2rem;
    color: #05043e; 
    display: flex;
    flex-direction: column;
}

.navbar-container details div {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 1.25rem;
    border-radius: 8px;
    position: absolute;
    max-height: calc(100vh - 100px);
    width: 400px;
    max-width: calc(100vw - 2rem);
    bottom: calc(100% + 1rem);
    right: 0;
    overflow: auto;
    transform-origin: 100% 100%;
}

details div::-webkit-scrollbar {
    width: 15px;
    background-color: #fff;
}

details div::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 99em;
    background-color: #ccc;
    border: 5px solid #fff;
}

details div > * + * {
    margin-top: 0.75em;
}

details div p > code {
    font-size: 1rem;
    font-family: monospace;
    color: #185adb;
    font-weight: 600;
}

details div pre {
    white-space: pre-line;
    background-color: #f9f9f9;
    border: 1px solid #95a3b9;
    border-radius: 6px;
    font-family: monospace;
    padding: 0.75em;
    font-size: 0.875rem;
}

details[open] div {
    animation: scale 0.25s ease;
}

.navbar-container summary {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0.625em 1.25em .625em 1.25em;
    border-radius: 99em;
    color: #fff;
    background-color: #185adb;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: 0.15s ease;
    position: relative;
}

summary::-webkit-details-marker {
    display: none;
}

.navbar-container summary:hover,
summary:focus {
    background-color: mix(#000, #185adb, 20%);
}

summary i {
    font-size: 1.375em;
    margin-left: .25em;
}

@keyframes scale {
    0% {
        transform: scale(0); 
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .white-box {
  position: absolute;
  top: 270%;
  left: 50%;
  transform: translate(-50%);
  width: 65%;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.3);
  border: 10px solid rgba(255, 255, 255, 0.1);
  overflow-y: auto;
  padding: 20px;
}
  
  .title {
  font-size: 5rem;
  margin-bottom: -10px;
  padding-top: 20px;
  color: white;
}

  .navbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 10px;
    left: 73%;
    transform: translateX(-50%);
    z-index: 9999;
  }
  
  .navbar-container {
    flex-direction: row;
    align-items: center;
    padding-top: 0px;
    width: auto;
    min-height: auto;
    border-radius: 10px;
  }

  .navbar-container ul{
    flex-direction: row;
    padding: 0.5rem;
    border-radius: 10px;
  }

  .navbar-container a span {
    top: 100%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    right: auto;
  }

  .navbar-container a span:before {
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    right: auto;
  }

  li + li {
    margin-top: 0;
    margin-left: .75rem;
  }

  .video-container {
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

  .video-container iframe {
  width: 90%;
  margin-bottom: 20px;
}

.box-title {
  font-size: 1.5rem;
}


.navigation-link{
  font-size: 1rem !important;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  padding-left: 10px !important;
}
  
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation-link {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}



.navigation-link:hover {
  color: #05043e;
}

.grid-container-credit {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.grid-item-credit {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.grid-item-credit ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



.grid-item-credit li {
  color: white;
  text-align: center;
  gap: 20px;
  padding: 20px;
  margin-top: 0px;
  margin: 0;
  border-top: none;
}

h2 {
 color: white;
 text-align: center;
}

