body {
  background-image: url('../image/Background.png');
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: LOUIS-GEORGE-CAFE;
  position: relative;
}

a {
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: LOUIS-GEORGE-CAFE;
  src: url('../font/Louis\ George\ Cafe.woff') format('woff'),
       url('../font/Louis\ George\ Cafe.woff2') format('woff2');
}

.header {
  position: relative;
  text-align: center;
  padding: 20px;
  color: white;
}

.title {
  font-size: 5rem;
  margin-bottom: -10px;
  color: white;
}

.menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
}

.subtitle {
  font-size: 3.5rem;
  color: white;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.welcome {
  margin: 0;
  font-size: 6rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-animation {
  animation: fadeIn 2s ease-in-out, fadeOut 2s ease-in-out 2s;
  animation-fill-mode: forwards;
}

.title, .subtitle, .grid-item, .toggle {
  animation: fadeIn 2s ease-in-out 4s;
  opacity: 0;
  visibility: hidden;
}

.title, .subtitle, .grid-item, .toggle {
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInElements {
  0% {opacity: 0; visibility: hidden;}
  100% {opacity: 1; visibility: visible;}
}

.title, .subtitle, .grid-item, .toggle {
  animation-name: fadeInElements;
}

/* CSS Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  row-gap: 100px;
  justify-items: center;
  padding: 110px 20px;
}

.grid-item {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: white;
}

.grid-item:hover {
  transform: scale(1.2)
}

.symbol1{
  width: 50px;
  height: 50px;
  background-image: url('../image/material.png');
  background-size: 100%;
  margin-right: 10px;
}

.symbol2{
  width: 50px;
  height: 50px;
  background-image: url('../image/sculpt.png');
  background-size: 100%;
  margin-right: 10px;
}

.symbol3{
  width: 50px;
  height: 50px;
  background-image: url('../image/lamp.png');
  background-size: 100%;
  margin-right: 10px;
}

.symbol4{
  width: 50px;
  height: 50px;
  background-image: url('../image/predictive-models.png');
  background-size: 100%;
  margin-right: 10px;
}

.symbol5{
  width: 50px;
  height: 50px;
  background-image: url('../image/route.png');
  background-size: 100%;
  margin-right: 10px;
}

.symbol6{
  width: 50px;
  height: 50px;
  background-image: url('../image/animation.png');
  background-size: 100%;
  margin-right: 10px;
}

.container {
  width: 100%;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}

.menu-open{
  transform: translate(-230px, 0);
}

ul {
  list-style: none;
}

#menu {
  background: transparent;
  text-align: center;
  width: 230px;
  height: 100%;
  position: fixed;
  margin: 0;
  right: -230px;
  padding: 0px;
}

/* NAV BAR CODE COPIED FROM TASK 6*/

#menu li a {
  color: white;
}

#menu li a:hover, #menu li a:focus {
  border-color: transparent;
  background: transparent;
  color: white
}

.toggle{
  display: block;
  position: absolute;
  left: -65px;
  cursor: pointer;
  background: transparent;
  padding: 15px 15px 10px
}

.toggle .bar1,
.toggle .bar2,
.toggle .bar3 {
  width: 35px;
  height: 4px;
  background: whitesmoke;
  margin-bottom: 8px;
  transition: all 0.4s;
}

#menu.open .toggle .bar1 {
  transform: rotate(45deg) translate(8px, 11px);
}

#menu.open .toggle .bar2{
  opacity: 0;
}

#menu.open .toggle .bar3{
  transform: rotate(-45deg) translate(5px, -10px);
}

@media (max-width: 750px) {

.grid {
  display: grid;
  grid-template-columns: 1fr;
}
  
  /*'burger' not displayed*/ 
.toggle .bar1,
.toggle .bar2,
.toggle .bar3 {
  display: none;
}

.toggle{
  display: none;
  background: none; 
}

.container.menu-open{
  transform: none;
}
/*Menu in inline block (across top of screen)*/
  #menu {
    margin: 0;
    padding: 15px 0; 
    width: 100%;
    display: absolute; 
    justify-content: center; 
    align-items: center; 
    position: static; 
    right: 0;
  }
/*Items on menu are also an inline-block (rather
than under each other)*/
#menu li{
display: inline-block;
}
/*Different styling for when mouse cursor hovered
over menu items/*/
#menu li a:hover {
border: 2px solid #fff;
background: transparent;
color: white;
}
}